*{
    padding:0px ;
    margin:0px;
}
.on_body{
    width: 720px;
    height: 1280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #f0f0f0;
    border: 2px solid red;
}
.navItem {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.navItem li {
    font-size: 1.25em;
    height: 40px;
    margin: 0px;
    padding: 0px;
    list-style-type:none;
}
.navItem li.back {
    position: absolute;
    margin-left: 10px;
}
.navItem li.left_title{
    position: absolute;
    padding-left: 36px;
}
.title_name{
    font-size: 28px;
    font-family: 楷体;
    margin-top: -4px;
}
.navItem li.navTitle {
    padding-left: 0;
    font-size: 36px;
    font-family: 楷体;
}